.info {
	width: 100%;
	min-height: 46.5rem;
	padding: 4.8rem 0;
}

.info .info-text h2 {
	font-size: 4rem;
	font-weight: bold;
	text-align: left;
	margin-bottom: 3rem;
}

.info .info-text p {
	font-size: 1.6rem;
	line-height: 1.6;
	text-align: left;
}

.info .info-text p:last-of-type {
	margin: 2rem 0 1.5rem 0;
}

.info .info-text p .bolded {
	font-weight: bold;
}

.info-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-shrink: 0;
	gap: 2rem;
	width: 100%;
	min-height: 17.5rem;
}

.info-cards .info-card {
	overflow: hidden;
	position: relative;
	width: 22.2rem;
	height: 17.5rem;
	font-size: 3.4rem;
	text-align: center;
	color: #a9acac;
	background-color: #fff;
	border-radius: 0.4rem;
	box-shadow: rgba(66, 66, 66, 0.15) 0px 3px 8px;
	cursor: pointer;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.card-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-shrink: 0;
	padding: 0 2rem;
	transition: transform 0.2s ease-in-out;
}

.hide-card {
	transform: translateX(100%);
}

.show-card {
	transform: translateX(0);
}

.info-cards .info-card:hover {
	color: #fff;
	background-color: #29cc6a;
}

.info-cards .info-card p {
	font-size: 1.3rem;
}

.info-cards .info-card .info-card-arrow {
	position: absolute;
	right: 1.5rem;
	bottom: 2rem;
	font-size: 1.2rem;
	color: #29cc6a;
	transition: color 0.2s ease-in-out;
}
.info-cards .info-card:hover .info-card-arrow {
	color: #fff;
	text-decoration: underline;
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
	.info-cards {
		gap: 5rem;
		justify-content: center;
	}
}
