.burger-icon {
	display: none;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	height: 2rem;
	width: 4rem;
	cursor: pointer;
}

.burger-icon::before,
.burger-icon::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0.2rem;
	width: 100%;
	background-color: #2b2d26;
	transition: background-color 0.2s ease-in-out;
}

.burger-icon:hover::before,
.burger-icon:hover::after {
	background-color: #02cc67;
}

.burger-icon::before {
	top: 0rem;
}

.burger-icon::after {
	bottom: 0;
}

.burger-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 35%;
	z-index: 10;
	background-color: #02cc67;
	box-shadow: rgba(66, 66, 66, 0.15) 0px 3px 8px;
	transition: transform 0.2s ease-in-out;
}

.burger-menu nav {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

.burger-menu nav ul {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.burger-menu nav ul li a {
	color: #fff;
	transition: color 0.2s ease-in-out;
}

.burger-menu nav ul li a:hover {
	color: #2b2d26;
}

.open-menu {
	transform: translateX(0);
}

.close-menu {
	transform: translateX(110%);
}

.close-icon {
	position: absolute;
	top: 4rem;
	left: 4rem;
	color: #2b2d26;
	font-size: 2.4rem;
	transition: color 0.2s ease-in-out;
}

.close-icon {
	color: #fff;
	cursor: pointer;
}

@media (max-width: 1199.98px) {
	.burger-icon {
		display: block;
	}
}

@media (max-width: 991.98px) {
	.burger-menu {
		width: 40%;
	}
}

@media (max-width: 767.98px) {
	.burger-menu {
		width: 50%;
	}
}

@media (max-width: 575.98px) {
	.burger-menu {
		width: 60%;
	}
}
