.newsletter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 21.6rem;
	color: #fff;
	background-color: #29cc6a;
	z-index: 1;
}

.newsletter-interaction {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2.4rem 0;
}

.newsletter h3 {
	font-size: 2.8rem;
	font-weight: bold;
}

.newsletter input {
	height: 4.4rem;
	width: 50rem;
	padding: 1rem 2rem;
	border: 1px solid #fff;
	background-color: #fff;
}

.newsletter input::placeholder {
	color: #29cc6a;
}

.newsletter button {
	width: 14.5rem;
	height: 4.4rem;
	border: 0.2rem solid #fff;
	color: #fff;
	font-weight: bold;
	background-color: #29cc6a;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.newsletter button:hover {
	background-color: #00da6d;
}

.newsletter p {
	font-size: 1.6rem;
}

@media (max-width: 1199.98px) {
	.newsletter input {
		width: 43rem;
	}
}

@media (max-width: 991.98px) {
	.newsletter input {
		width: 35rem;
	}
}

@media (max-width: 767.98px) {
	.newsletter input {
		width: 25rem;
	}
}

@media (max-width: 575.98px) {
	.newsletter input {
		width: 18rem;
	}
}
