.footer-details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10rem;
	width: 100%;
}

.footer-products {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 2rem;
}

.footer-products h3 {
	font-weight: bold;
	font-size: 2rem;
}

.footer-products a {
	color: #fff;
	text-decoration: none;
	font-size: 1.6rem;
	transition: color 0.2s ease-in-out;
}

.footer-products a:hover {
	color: #29cc6a;
}
