.testimonial {
	width: 100%;
	min-height: 36.2rem;
	margin-bottom: 4.8rem;
}

.testimonial .testimonial-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 31.4rem;
	border-left: 1rem #29cc6a solid;
}

.testimonial .testimonial-content .testimonial-content-title {
	position: relative;
	width: 26%;
}

.testimonial .testimonial-content .testimonial-content-quote {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100%;
	width: 74%;
}

.testimonial .testimonial-content .testimonial-content-title h2 {
	position: absolute;
	left: 3.4rem;
	top: 50%;
	transform: translateY(-50%);
	text-align: left;
	font-size: 2.8rem;
	font-weight: bold;
	color: #29cc6a;
}

.testimonial .testimonial-content .testimonial-content-quote .quote-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	min-height: 100%;
	max-width: 49.5rem;
}

.left-quote {
	position: absolute;
	left: 0;
	top: -15%;
}

.right-quote {
	position: absolute;
	right: 0;
	bottom: 30%;
}

.testimonial .testimonial-content .testimonial-content-quote p {
	line-height: 1.7;
	font-size: 1.6rem;
	text-align: left;
}

.testimonial .testimonial-content .testimonial-content-quote p:first-of-type {
	font-style: italic;
	margin-bottom: 2rem;
}

.testimonial .testimonial-content .testimonial-content-quote p:last-of-type {
	margin-bottom: 1rem;
}

@media (max-width: 1199.98px) {
	.testimonial .testimonial-content {
		justify-content: flex-start;
		flex-direction: column;
	}

	.testimonial .testimonial-content .testimonial-content-title {
		width: 50%;
	}

	.testimonial .testimonial-content .testimonial-content-title h2 {
		position: static;
		text-align: center;
		transform: translateY(0);
		margin: 2rem 0;
	}

	.testimonial .testimonial-content {
		border: none;
	}
}
